/* Base CSS */

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    text-decoration: none
}

.header-area {
    padding: 20px 0;
}

.logo img {
    max-width: 80px;
    position: relative;
}

.logo-text {
    position: absolute;
    left: 40%;
    top: 30%;
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-weight: 900;
    color: #333;
    text-transform: uppercase;
}

.logo-text span {
    display: block;
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 5px 0;
}

.content-right-box {
    position: relative;
    display: inline-block;
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
    margin-left: 30px;
    margin-top: 20px;
    color: #333;
}


.content-right-box i.fa {
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 20px;
}

.slider-bg {
    background-color: #ddd;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-1 {
    background-image: url(../img/bg-2.jpeg)
}

.slider-text {
    color: #333;
    padding-top: 120px;
    padding-bottom: 80px;
    padding-left: 70px;
    padding-right: 120px;
    position: relative;
    z-index: 1;
    font-size: 16px;
}

.slider-text:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: #fff;
    left: 0;
    top: 0;
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    z-index: -1;
}

.slider-text h2 {
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
}

.slider-text p {
    font-weight: 500;
    line-height: 1.7;
    margin-top: 30px;
}

.slider-btn {
    display: inline-block;
    color: #fff;
    background: #F18000;
    padding: 10px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
}

.slider-btn:hover {
    color: #fff;
}
